header {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background-color:black;
	color:white;
}

#hdr_logo {
	padding-left:25%;
	width:50%;
}

.lang {
	position:absolute;
	top:10px;
	right:2%;
}

.lang a {

}

.menu ul {
	list-style-type:none;
 	text-align:center;
 	font-size: 1.5em;
}
.menu li {
 	float:left;
 	margin-right:5%;
 	margin-left:10%;
 	margin-bottom:20px;
}
.menu li a {
	text-decoration:none;
	color:white;
}
.menu li a:hover {
	color:red;
}

#icon_arbre_heron
{
	position:relative;
	width:10%;
	z-index:2;
	top:200px;
}

#arbre_heron
{
	position:relative;
	width:50%;
	z-index:1;
	top:300px;
	right:50px;

}