header {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background-color:black;
	color:white;
}

#section1_dec
{
	 position: absolute;
	 background-color:rgb(211,211,211);
	 left: 0%;
	 width: 100%;
	 top: 25%;
 }

#section2_actu{
	position: absolute;
	background-color: grey;
	left: 0%;
	width: 100%;
	top: 216%;
}

#hdr_logo {
	padding-left:25%;
	width:50%;
}

.lang {
	position:absolute;
	top:3%;
	right:2%;
}

.lang a {
	color:white;
}

.menu ul {
	list-style-type:none;
 	text-align:center;
 	font-size: 1.5em;
}
.menu li {
 	float:left;
 	margin-right:5%;
 	margin-left:10%;
 	margin-bottom:20px;
}
.menu li a {
	text-decoration:none;
	color:white;
}
.menu li a:hover {
	color:red;
}

#icon_arbre_heron, #icon_carrousel
{
	position:absolute;
	width:12%;
	z-index:2;
	left: 5%;
}

#arbre_heron, #carrousel
{
	position:relative;
	width:40%;
	z-index:1;
	left:9%;
	margin-top:8%;
}

.txt_article_right
{
	float: right;
	margin-left:55%;
	margin-right:10%;
	font-size: 1.3em;
	margin-top: -16%;
}

#icon_elephant
{
	position:absolute;
	width:12%;
	z-index:2;
	right: 42%;
	margin-top: 1%;
}

#elephant
{
	position:relative;
	width:40%;
	z-index:1;
	left: 50%;
	margin-top: 8%;
}

.txt_article_left
{
	float: left;
	margin-right:50%;
	margin-left:15%;
	font-size: 1.3em;
	margin-top: -15%;
}

#nav_footer ul {
	list-style-type:none;
 	text-align:left;
 	font-size: 1.1em;
}
#nav_footer ul li {
 	margin-right:5%;
 	margin-left:10%;
 	margin-bottom:20px;
}
#nav_footer ul li a {
	text-decoration:none;
	color:green;
}
#nav_footer ul li a:hover {
	color:red;
}
#carrousel
{
	position:absolute;
	width:40%;
	z-index:1;
	left:500px;
	top: 200px;
}
#lienspcar
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	top:60%;
	left:50%;
}
#carrouselpcar
{
	position:absolute;
	width:30%;
	height:30%;
	top:30%;
	left:40%;
}
#carrouseltpcar
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	color:white;
	top:75%;
	left:20%;
	margin-right:15%;
 	margin-left:5%;
}
#videopcar
{
	position:absolute;
	top:93%;
	left:13%;
}
#awardpcar
{
	position:absolute;
	z-index:2;
	width:30%;
	height:30%;
	top:85%;
	left:-7%;
}
#texte1pcar
{
	position:absolute;
	z-index:2;
	top:180%;
	left:20%;
	font-family:myriad pro;
	text-align: justify;
	margin-right:5%;
	color:white;
}
#surfacepcar
{
	position:absolute;
	width:30%;
	height:30%;
	top:200%;
	left:10%;
}
#niveau1
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	margin-right:5%;
	color:white;
	top:200%;
	left:45%;
}
#fmarinspcar
{
	position:absolute;
	width:30%;
	height:30%;
	top:230%;
	left:50%;
}
#niveau2
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	margin-right:54%;
	color:white;
	top:230%;
	left:6%;
}
#imagen3
{
	position:absolute;
	width:30%;
	height:30%;
	top:260%;
	left:10%;
}

#niveau3
{
	position:absolute;
	font-family:myriad pro;
	text-align: justify;
	margin-right:10%;
	top:260%;
	left:45%;
	color:white;
}
#croquispcar
{
	position:absolute;
	z-index:1;
	top:300%;
	left:0%;
}

#tbannierepcar
{
	position:absolute;
	z-index:2;
	top:305%;
	left:65%;
	font-family:myriad pro;
	
}
#histoire
{
	position:absolute;
	z-index:2;
	top:320%;
	left:40%;
	font-family:myriad pro;
	margin-right:10%;
	text-align: justify;

}
#auteurs
{
	position:absolute;
	z-index:2;
	top:344%;
	left:80%;
	font-family:myriad pro;
}
#architectes
{
	position:absolute;
	z-index:2;
	top:360%;
	left:65%;
	font-family:myriad pro;
}
#tarchitectes
{
	position:absolute;
	z-index:2;
	top:370%;
	left:40%;
	font-family:myriad pro;
	margin-right:10%;
	text-align: justify;
}
#partie1pcar
{
	background-color: rgb(010,032,045);
	width:100%;
	left:0px;
	height:2750px;
}

#logo_actu
{
	position: absolute;
	width: 60%;
	margin-top: -8%;
	margin-left: -15%;
}
#banner_actu
{
	position: absolute;
	width: 60%;
	margin-top: -5%;
	margin-left: 30%;
	z-index: 1;
}

#titre_actu
{
	position: absolute;
	color: black;
	font-size: 2.5em;
	text-decoration: none;
	z-index: 2;
	right: 30%;
	top: 8%;
}

.article_actu h4
{
	background-color: white;
	padding: 1%;
	float: left;
}
.article_actu
{
	margin: 2%;
}

.img_actu
{
	width: 30%;
	float: left;
}