header {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background-color:black;
	color:white;
}

#hdr_logo {
	padding-left:25%;
	width:50%;
}

.lang {
	position:absolute;
	top:10px;
	right:2%;
}

.lang a {

}

.menu ul {
	list-style-type:none;
 	text-align:center;
 	font-size: 2em;
}
.menu li {
 	float:left;
 	margin-right:5%;
 	margin-left:10%;
 	margin-bottom:20px;
}
.menu li a {
	text-decoration:none;
	color:white;
}
.menu li a:hover {
	color:red;
}